.information{
    text-align: justify;
    margin-left: 350px;
}
.container{
    background-image: url("/img/pattern.png");
    width: 1125px;
    margin: auto;
}

h3{
    color: grey;
}


span{
    background-color: yellow;
}
